In [1]:
import pandas as pd
import requests

In [2]:
base_url = 'https://ghoapi.azureedge.net/api/'

In [3]:
# Malaria
malaria_death = 'MALARIA_EST_DEATHS'
malaria_cases = 'MALARIA_EST_CASES'

# Hepatitis
hepatitis_prevalence_b = 'HEPATITIS_HBV_PREVALENCE_PER100'
hepatitis_prevalence_c = 'HEPATITIS_HCV_PREVALENCE_PER100'
hepatitis_death_b = 'HEPATITIS_HBV_DEATHS_NUM'
hepatitis_death_c = 'HEPATITIS_HCV_DEATHS_NUM'

# Tuberculosis
tuberculosis_incidence = 'MDG_0000000020'

In [4]:
# Create function to select only necessary data and rename the columns
def clean_api_data(keyword):
    req = requests.get(base_url + keyword).json()['value']
    df = pd.json_normalize(req)
    clean_df = df[['SpatialDim','NumericValue','Low','High','TimeDim']].sort_values(by=['TimeDim','SpatialDim'])
    clean_df = clean_df.rename(columns={
        'SpatialDim': 'Country',
        'TimeDim': 'Year'
    })
    return clean_df

In [5]:
# Estimated Number of Malaria Deaths
malaria_death_df = clean_api_data(malaria_death)
malaria_death_df = malaria_death_df[malaria_death_df['Year'] > 2016].reset_index(drop=True)

malaria_death_df.head()

  Country  NumericValue       Low      High  Year
0     AFG         378.0     160.0     640.0  2017
1     AFR      555248.0  522000.0  619000.0  2017
2     AGO       14080.0    9740.0   21000.0  2017
3     AMR         665.0     452.0     902.0  2017
4     ARE           0.0       NaN       NaN  2017

In [6]:
# Estimated Number of Malaria Cases
malaria_cases_df = clean_api_data(malaria_cases)
malaria_cases_df = malaria_cases_df[malaria_cases_df['Year'] > 2016].reset_index(drop=True)

malaria_cases_df.head()

  Country  NumericValue          Low         High  Year
0     AFG      798871.0     608000.0    1022000.0  2017
1     AFR   218442674.0  201000000.0  238000000.0  2017
2     AGO     6312055.0    4902000.0    8010000.0  2017
3     AMR      946216.0     878000.0    1032000.0  2017
4     ARE           0.0          NaN          NaN  2017

In [7]:
# Save Malaria data to csv files
malaria_death_df.to_csv('Resources/WHO_Malaria_death.csv')
malaria_cases_df.to_csv('Resources/WHO_Malaria_cases.csv')

In [8]:
# Prevalence of Chronic Hepatitis B (HBV) in the General Population
hepatitis_pb_df = clean_api_data(hepatitis_prevalence_b).reset_index(drop=True)

hepatitis_pb_df.head()

  Country  NumericValue   Low  High  Year
0     AFG       1.82062  None  None  2022
1     AGO       7.62942  None  None  2022
2     ALB       6.52545  None  None  2022
3     AND       0.47048  None  None  2022
4     ARE       0.89838  None  None  2022

In [9]:
# Prevalence of Chronic Hepatitis C (HCV) in the General Population
hepatitis_pc_df = clean_api_data(hepatitis_prevalence_c).reset_index(drop=True)

hepatitis_pc_df.head()

  Country  NumericValue   Low  High  Year
0     AFG       0.23757  None  None  2022
1     AGO       0.49872  None  None  2022
2     ALB       0.93138  None  None  2022
3     AND       0.30179  None  None  2022
4     ARE       1.53545  None  None  2022

In [10]:
# Deaths Caused by Chronic Hepatitis B (HBV) Infection
hepatitis_db_df = clean_api_data(hepatitis_death_b).reset_index(drop=True)

hepatitis_db_df.head()

  Country  NumericValue   Low  High  Year
0     AFG    1612.50466  None  None  2022
1     AGO   14991.83384  None  None  2022
2     ALB     690.72336  None  None  2022
3     AND       1.61869  None  None  2022
4     ARE     517.86064  None  None  2022

In [11]:
# Deaths Caused by Chronic Hepatitis C (HCV) Infection
hepatitis_dc_df = clean_api_data(hepatitis_death_c).reset_index(drop=True)

hepatitis_dc_df.head()

  Country  NumericValue   Low  High  Year
0     AFG     783.66355  None  None  2022
1     AGO    1131.96616  None  None  2022
2     ALB     102.23557  None  None  2022
3     AND       2.02559  None  None  2022
4     ARE     396.16630  None  None  2022

In [12]:
# Save Hepatitis data to csv files
hepatitis_pb_df.to_csv('Resources/WHO_HBV_prevalence.csv')
hepatitis_pc_df.to_csv('Resources/WHO_HCV_prevalence.csv')
hepatitis_db_df.to_csv('Resources/WHO_HBV_death.csv')
hepatitis_dc_df.to_csv('Resources/WHO_HCV_death.csv')

In [13]:
# Incidence of Tuberculosis (per 100 000 population per year)
tuberculosis_df = clean_api_data(tuberculosis_incidence)
tuberculosis_df = tuberculosis_df[(tuberculosis_df['Year'] > 2016) & (tuberculosis_df['Year'] < 2022)].reset_index(drop=True)

tuberculosis_df.head()

  Country  NumericValue    Low   High  Year
0     AFG         189.0  122.0  270.0  2017
1     AFR         243.0  214.0  274.0  2017
2     AGO         359.0  230.0  516.0  2017
3     ALB          20.0   17.0   24.0  2017
4     AMR          28.0   26.0   30.0  2017

In [14]:
# Save Tuberculosis data to csv file
tuberculosis_df.to_csv('Resources/WHO_tuberculosis.csv')