In [1]:
import pandas as pd
import requests

In [2]:
base_url = 'https://ghoapi.azureedge.net/api/'

In [3]:
# Malaria
malaria_death = 'MALARIA_EST_DEATHS'
malaria_cases = 'MALARIA_EST_CASES'

# Hepatitis
hepatitis_prevalence_b = 'HEPATITIS_HBV_PREVALENCE_PER100'
hepatitis_prevalence_c = 'HEPATITIS_HCV_PREVALENCE_PER100'
hepatitis_death_b = 'HEPATITIS_HBV_DEATHS_NUM'
hepatitis_death_c = 'HEPATITIS_HCV_DEATHS_NUM'

# Tuberculosis
tuberculosis_incidence = 'MDG_0000000020'

In [4]:
malaria_death_req = requests.get(base_url + malaria_death).json()
malaria_death_data = malaria_death_req['value']
malaria_death_df = pd.json_normalize(malaria_death_data)
malaria_death_df = malaria_death_df[malaria_death_df['TimeDim'] > 2016][['SpatialDim','NumericValue','Low','High','TimeDim']].sort_values(by=['TimeDim','SpatialDim'])
malaria_death_df = malaria_death_df.rename(columns={
    'SpatialDim': 'Country',
    'TimeDim': 'Year'
}).reset_index(drop=True)
malaria_death_df.head()

  Country  NumericValue       Low      High  Year
0     AFG         378.0     160.0     640.0  2017
1     AFR      555248.0  522000.0  619000.0  2017
2     AGO       14080.0    9740.0   21000.0  2017
3     AMR         665.0     452.0     902.0  2017
4     ARE           0.0       NaN       NaN  2017

In [5]:
malaria_cases_req = requests.get(base_url + malaria_cases).json()
malaria_cases_data = malaria_cases_req['value']
malaria_cases_df = pd.json_normalize(malaria_cases_data)
malaria_cases_df = malaria_cases_df[malaria_cases_df['TimeDim'] > 2016][['SpatialDim','NumericValue','Low','High','TimeDim']].sort_values(by=['TimeDim','SpatialDim'])
malaria_cases_df = malaria_cases_df.rename(columns={
    'SpatialDim': 'Country',
    'TimeDim': 'Year'
}).reset_index(drop=True)
malaria_cases_df.head()

  Country  NumericValue          Low         High  Year
0     AFG      798871.0     608000.0    1022000.0  2017
1     AFR   218442674.0  201000000.0  238000000.0  2017
2     AGO     6312055.0    4902000.0    8010000.0  2017
3     AMR      946216.0     878000.0    1032000.0  2017
4     ARE           0.0          NaN          NaN  2017

In [6]:
malaria_death_df.to_csv('Resources/WHO_Malaria_death.csv')
malaria_cases_df.to_csv('Resources/WHO_Malaria_cases.csv')